<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% load static %}
   <link rel="stylesheet" href="{% static 'css/style1.css' %}">
   <title>{% block title %}MPCP{% endblock %}</title>
</head>
<nav>
    <div class="nav-content">
        <!-- Navigation Links -->
        <ul class="nav-links">
            <li><a href="{% url 'inventory_display' %}">Inventory</a></li>
            <li><a href="{% url 'create_order' %}">Purchase</a></li>
            <li><a href="{% url 'checkin' %}">Check-in</a></li>
            <li><a href="{%url 'expired_products' %}">Expired </a></li>

            {% if user.is_authenticated and user.is_staff %}
                <li><a href="{% url 'low_stock' %}">Low Stock</a></li>
                <li><a href="{% url 'order_view' %}">Transactions</a></li>
            {% endif %}

            {% if user.is_authenticated %}
                <li><a href="{% url 'item_list' %}">Special Orders</a></li>
            {% endif %}
        </ul>

        <!-- Authentication Links -->
        <div class="auth-links">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <ul class="nav-links">
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>

<body>
    <div class="container">
        {% block content %}
        <!-- Page-specific content will be injected here -->
        {% endblock %}
    </div>
</body>
</html>

